# ==============================================================================
# CONFIGURAÇÕES DA API (Para o ambiente de desenvolvimento local)
# Dica: Basta copiar este arquivo, nomeá-lo como '.env' e rodar o docker-compose
# ==============================================================================

# Server Config
PORT=3000
NODE_ENV=development

# Sequelize Config (Banco SQL local rodando no Docker)
DB_HOST=localhost 
DB_USER=root
DB_PASSWORD=pi_eq
DB_NAME=pi_db
DB_PORT=3308

# MongoDB Config (Banco NoSQL local rodando no Docker)
MONGO_PORT=27017
MONGO_URI=mongodb://mongo-db:27017/pi_db

# JWT Config (Acesse https://jwtsecrets.com/ para gerar um JWT seguro)
JWT_SECRET=jwt_secret